@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap");
.App {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #383637;
  background: linear-gradient(
    135deg,
    rgba(187, 160, 202, 1),
    rgba(249, 218, 208, 1)
  );
}
